.banner4-section{
    background: #000cfe;
    height: auto;
}
.b4-h2{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.button{
    margin-left: 230px;
   padding-left: 200px;
}
.btn1{
    font-weight: bold;
    background-color: #fd7e14;
    width: 200px;
    color: white;
    border: 1px solid;
}
.btn2{
    font-weight: bold;
    margin-left: 10px;
    width: 200px;
    color: white;
    border: 1px solid;
}
.b4{
    padding-top: 40px;
    color: white;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.flex-container > div{
    margin: 10px;
    text-align: center;
    line-height: 75px;
}


