.banner5-section{
    background-color: #cfe2ff;
    height: 500px;
}
.head1 h1{
    font-weight: bold;
    font-size: 60px;
    padding-top: 50px;
    margin-left: 60px;

}
.head2 h1{
    font-weight: bold;
    font-size: 60px;
    margin-left: 60px;
}
.list1{
    padding-top: 50px;
}

.list1 p {
padding-top: 30px;
    float: right;
}