
.Top-nav {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background-color: #000cfe;
}

.Top-nav a {
    float: right;
    color: #fff;
    justify-content: space-between;
    text-align: center;
    padding: 0px 35px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.Top-nav select {
    background-color: #000cfe;
    float: right;
    color: #fff;
    justify-content: space-between;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border: none;
}